/* GENERAL
 ========================================================================== */
body {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #6b6d6f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100% !important;
}

/* NAV
 ========================================================================== */
/* ABOUT
  ========================================================================== */
  .about {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    .title-content{
      position: relative;
      padding: 10px 10px 10px 55px;
      margin-bottom: 7px;
    }
    .box-about{
      margin-top: 25px;
    .box-icon-about{
      position: absolute;
      left: 0;
      font-size: 36px;
      top:28px;
    }
    }
  }

  .pg-about {
    padding-top: 100px;
    padding-bottom: 100px;

   img{
    max-width: 100%;
   }
  }

  .main-title {
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
  }

/* TEAM
 ========================================================================== */
.member {
  text-align: center;

  .member-image{

    .img-circle{
      border: 4px solid #6b6d6f;
      border-radius: 50%;
      padding: 10px;
    }
  }
}

.team-social {
  padding: 0;
  list-style: none;
  margin: 15px 0 0;

  li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
  }

  a {
    color: #6b6d6f;

    &:hover {
      text-decoration: none;
    }
  }
}

/* SERVICES
 ========================================================================== */
.services {
  width: 100%;
  margin-top: 50px;
  display: block;
  position: relative;
  overflow: hidden;
}

.pg-serv {
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-icon {
  position: absolute;
  left: 0;
  color: #ffffff;
  font-size: 36px;
  top:23px;
}

.box {
  margin-top: 25px;
  .section-title2{
    color: #EFECE4;
  }
  .title-content-service {
    position: relative;
    padding: 10px 10px 10px 55px;
    margin-bottom: 7px;
    color: #EFECE4;
  }
  .tab-text{
    color: #EFECE4;
  }
}

/* WORK PROCESS
 ========================================================================== */
.pt-work {
  padding-bottom: 40px;
}

.back-style-cont {
  background-color: #eeeeee;
  padding: 65px 0;
}

.work-proc2-cont {
  margin: 0 auto;
  max-width: 320px;
  padding: 45px 20px 20px 98px;
  position: relative;

  h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .font-montserrat {
    font-weight: bold;
  }
}

.work-proc2-icon-cont {
  color: #2a2b2f;
  font-size: 60px;
  font-weight: 700;
  left: 0;
  line-height: 60px;
  position: absolute;
  top: 55px;
}

.work-proc2-a-cont {
  margin: 0 auto;
  max-width: 320px;
  position: relative;

  a {
    color: black;
  }

  &:focus,
  &:hover {
    color: #2a2b2f;
  }

  &:focus .work-proc2-a-text,
  &:hover .work-proc2-a-text {
    color: #2a2b2f;
  }

  &:focus .work-proc2-a-text,
  &:hover .work-proc2-a-text {
    left: 30px;
    -webkit-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -khtml-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -moz-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -ms-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -o-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  }

  &:focus .work-proc2-bg-block,
  &:hover .work-proc2-bg-block {
    background: #5bd3be;
    -webkit-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -khtml-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -moz-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -ms-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -o-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  }

  .work-proc2-a {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  a:hover {
    text-decoration: none;
  }

  .work-proc2-a-text {
    left: 0;
    position: absolute;
    top: 44px;
    -webkit-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -khtml-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -moz-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -ms-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -o-transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  }

  .work-proc2-bg-block {
    background: #2ed069;
    height: 200px;
    margin-left: 60px;
    width: 200px;
    -webkit-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -khtml-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -moz-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -ms-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    -o-transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
    transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  }

  .border-bot {
    border-bottom: 3px solid black;
  }
}

/* CONTACT
 ========================================================================== */
.contact {

}

.pg-contact {
  /*padding-top: 10px;*/
  padding-bottom: 80px;
}

.section-title2 {
  padding: 0 !important;
  margin: 45px !important;
  font-size: 32px;
  font-weight: normal;
  line-height: 40px;
  color: #2a2b2f;
}

.ci-content {
  position: relative;
  padding-left: 65px;
}

.ci-icon {
  position: absolute;
  top: 25px;
  left: 0;
  color: #6b6d6f;
  font-size: 35px;
}

.ci-text {
  padding: 16px 0 18px;
}

.ci-text h3 {
  color: #2a2b2f;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.ci-text p {
  margin: 0;
  font-size: 13px;
}

#contact-form{
  margin-top: 10px;

  textarea{
    margin-top: 10px;
  }
}

.form-control{
  border-radius: 0;
  height: auto;
  box-shadow: none !important;
}

input, textarea, select, .login-select, .form-control {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  background: transparent;
  color: #2a2b2f;
  font-size: 13px;
  margin: 0;
  outline: medium none;
  padding: 8px 20px 8px 0;
}

.send-button {
  font-size: 12px;
  color: #fff;
  background-color: #2a2b2f;
  padding: 10px 37px;
  margin-top: 40px !important;
  display: inline-block;
  outline: none;
  position: relative;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;

  &:hover{
    background-color:#747474;
  }
}

/* FOOTER
 ========================================================================== */
.footer {
  background-color: #eee;
}

.pg-footer {
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer-social {
  padding-bottom: 7px;
}

.footer-social a {
  padding: 9px !important;
  font-size: 16px;
  color: #2a2b2f;
  text-decoration: none;

  &:hover{
    color: #747474;
  }
}

.right {
  float: right;
}

.footer-icon {
  font-size: 14px;
  color: #2a2b2f;
}

.left {
  float: left;
}
